/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.social-media {
  width: 30px;
  height: 30px;
}

.facebook {
  background-image: url('../public/facebook.png');
}